.gallery {
    padding-block: 72px;
  .main-img {
    margin-bottom: 20px;
  }
  .sub-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sub-img {
    width: 20%;
  }
}
