.gallery {
  .main-img {
    margin-bottom: 22px;
  }
  .sub-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .sub-img {
    width: 20%;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;

   
    &.selected {
      outline: 3px solid $clr-orange;
      img {
        opacity: 0.5;
      }
    }
  }
}
