.gallery {
  

  .main-img {
    position: relative;
    margin-bottom: 22px;
    cursor: pointer;
    
    .close-btn{
      position: absolute;
      right: -20px;
      top: -20px;
      cursor: pointer;

      svg {
        path{
          stroke: $clr00;
          fill: $clr00;
        }
      }

      &:hover {
        svg {
          path{
            stroke: $clr-orange;
            fill: $clr-orange;
          }
        }
      }
      // display: none;
    }

    .next-btn,.prev-btn{
      position: absolute;
      top: 50%;

      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: $clr04;
      cursor: pointer;

      &:hover {
        svg {
          path{
            stroke: $clr-orange;
          }
        }
      }
    }
  
    .next-btn{
      right: 0;
      translate: +50% -50%;
    }

    .prev-btn{
      left: 0;
      translate: -50% -50%;
    }

  }

  .sub-img-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .sub-img {
    width: 20%;
    height: 70px;
    border-radius: 10px;
    cursor: pointer;

   
    &.selected {
      outline: 3px solid $clr-orange;
      img {
        opacity: 0.5;
      }
    }
  }
}
