
  .mobile-nav-btn {
    padding-inline-start: 3px;
    border: none;
    background: transparent;
    font-size: 20px;
    rotate: 90deg;
    @include for-mobile-layout {display: inline;}
    @include for-normal-layout{display: none;}
  }

  .mobile-nav {
    position: fixed;
    height: 100vh;
    z-index: 10;
    right: -200px; /* Start off-screen */
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    padding-block: 35px;
    padding-inline: 0px;
    color: black;
    background-color: white;
    transition: right 0.3s ease, transform 0.3s ease; /* Smooth transition */

    @include for-normal-layout{
      display: none;
    }
  }
  
  .mobile-nav.open {
    right: 0; /* Move into view */
  }
  

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90px;
  justify-content: space-between;

  border-bottom: 1px solid $clr03;
  position: relative;

  nav {
    display: flex;
    align-items: center;
    margin-bottom: 4px;
    gap: 26px;

    .logo {
      margin-inline-end: 22px;
    }
    a {
      font-size: 12px;
      display: none;
      @include for-normal-layout{
        display: inline;
      }
    }
  }

  .cart {
    position: relative;
    gap: 36px;
    .icon {
      scale: 0.9;
      cursor: pointer;
    }

    .img-container {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-image: url("/images/image-avatar.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .cart-item-indicator {
      position: absolute;
      top: 25px;
      right: 65px;

      display: grid;
      place-items: center;
      font-size: 8px;
      width: 12px;
      aspect-ratio: 1;
      font-weight: 600;
      border-radius: 50%;
      background-color: $clr-orange;
    }
  }
}
