.product-info{
    h2 {
        text-transform: uppercase;
        font-size: 11px;
        font-family: kombh-bold;
        margin-block-start: 50px;
        letter-spacing: 0.65px;
        color: $clr02;
    }

    h1 {
        margin-block-start: 17px;
        text-transform: capitalize;
        font-family: kombh-bold;
        font-size: 35px;
        line-height: 1.1;
    }

    p {
        margin-block-start: 29px;
        font-size: 12.85px;
        line-height: 1.62;
    }

    h3 {
        display: flex;
        align-items: center;
        font-family: kombh-bold;
        font-size: 24.5px;
        margin-block-start: 19.5px;
        // color: $clr03;

        span {
            display: inline-block;
            font-size: 12px;
            text-align: center;
            font-family: kombh;
            letter-spacing: 0.5px;
            background-color: red;
            width: 41px;
            margin-inline-start: 12px;
            padding: 5px 0px;
            border-radius: 5px;
            color: $clr05;
            background-color: $clr00;
        }
    }

    h4 {
        font-family: kombh-bold;
        font-size: 13.2px;
        margin-top: 14px;
        text-decoration: line-through;
        color: $clr02;
    }

    .counter-container {
        display: flex;
        gap: 12px;
        margin-top: 29px;

        .counter {
            display: flex;
            background-color: $clr04;
            border-radius: 10px;

            button {
                background-color: transparent;
                display: flex;
                align-items: center;
                padding: 16px 12px;
                border: none;

                svg{
                    scale: 0.85;
                }
            }
            input {
                background-color: transparent;
                border: none;
                width: 55px;
                text-align: center;
                font-family: kombh-bold;
                font-size: 13px;
            }
        }
        .add-to-cart {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            font-family: kombh-bold;
            width: 100%;
            border-radius: 10px;
            border: none;
            background-color: $clr-orange;
            color: $clr00;

            i{
                svg{
                    height: 14px;
                }
            }

            &:disabled {
                background-color: $clr04;
                cursor: context-menu;
            }
        }
        

    }
}