* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: kombh;
  font-size: 16px;
}

body {
 
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1;
}

li {
  line-height: 0;
}

img {
  width: 100%;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

button {
  font-family: kombh;
}

input {
  font-family: kombh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

