
  .app-container{
    display: grid;
    grid-template-columns: 1fr 890px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;

    & > * {
      grid-column: 2;
    }

    header {
      grid-row: 1;
    }

    main{
      grid-row: 2;

      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-inline: 40px;
      gap: 100px;

      .gallery{
        grid-column: 1;
      }

      .product-info {
        grid-column: 2;

      }
    }
  }

  @include for-narrow-layout {
   
  }
  @include for-normal-layout {
   
  }
  @include for-wide-layout {
    
  }

