@font-face {
    font-family: kombh;
    src: url('/src/assets/fonts/kombh/KumbhSans-Regular.ttf');
}

@font-face {
    font-family: kombh-bold;
    src: url('/src/assets/fonts/kombh/KumbhSans-Bold.ttf');
}



