//Neutral
$clr00:  hsl(0, 0%, 0%);
$clr01:  hsl(220, 13%, 13%);
$clr02: hsl(219, 9%, 45%);
$clr03: hsl(220, 14%, 75%);
$clr04: hsl(223, 64%, 98%);
$clr05: hsl(0, 0%, 100%);


// colors
$clr-orange: hsl(26, 100%, 55%);
$clr-orange-light: hsl(25, 100%, 94%);

// Breakpoints
$mobile-breakpoint: 400px;
$narrow-breakpoint: 400px;
$normal-breakpoint: 1000px;
$wide-breakpoint: 1440px;
$desktop-breakpoint: 1440px



// layout vars

